.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background-dark);
  color: var(--light-bg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light-bg);
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.link {
  color: var(--light-bg);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after, .activeLink::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link:hover, .activeLink {
  color: white;
}

.activeLink {
  composes: link; /* Hereda los estilos de .link */
  color: white;
}